.logo{
  width: 139px;
}
.navbar-nav{
  li{
    a{
      font-family: "Montserrat Medium";
      text-transform: uppercase;
    }
  }
}

#profile-button{
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px;
}

.black-button{
  border-radius: 0px;
  border: 0px;
  background-color: black;
  color: white;
}

#img-header{
  width: 110%;
}

.header-bottom{
  margin-top: 3%;
  margin-bottom: 2%;
}
#header-mega{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 3%;
}

#sub-header{
  font-family: "Roboto Slab";
  line-height: normal;
  color: #A6A6A6;
  margin-bottom: 5%;
}

.search-button{
  width: 100%;
  input{
    background-color: black;
    color: white;
    border: 0px;
    font-size: 18px;
    padding: 15px;
    font-family: "Roboto Slab";
    width: 90%;
    float: left;
    clear: both;
  }
  ::placeholder{
    color: white;
  }
  button{
    background-color: black;
    color: #F59522;
    padding: 15.5px;
    margin: 0px;
    font-size: 24px;
    border: 0px;
    clear: both;
    width: 10%;
  }
}

.left-sidebar{
  div{
    border: 0px;;
    .panel-heading{
        font-family: "Roboto Slab";
      h4{
        margin-bottom: 10px;
      }
    }
  }
}
.sub-title{
  font-family: "Roboto Slab" !important;
}

.features_items{
  .product-image-wrapper{
    border-color: #525151;
    border-width: 2px;
    overflow: hidden;
    .single-products{
      .productinfor{
        padding: 8px;
        h2{
          color: #F59522;
          font-weight: bold;
        }
        .border-white{
          border-width: 1px;
          border-color: #525151;
          border-radius: 0px;
          margin-bottom: 5px;
        }

        .bid-project{
          width: 100%;
          font-family: "Roboto Slab";
          color: #F59522;
          margin-bottom: 5%;
        }
        a{
          color: #F59522;
        }
        .alternative-button{
          text-align: center !important;
          margin-bottom: 2%;
        }
      }
    }
  }
}

.checked{
  color: #F59522;
}

.companyinfo{
  margin-top: 15%;
}
.mapping-navigation{
  margin-top: 5%;
  color: #F59522;
  a{
    color: #F59522;
  }
}

.footer-top{
  background-color: black;

}
.footer-bottom{
  background-color: #F59522;
  p{
    color: black;
  }
}

.img-container{
  max-height: 250px;
  overflow: hidden;
  object-fit: contain;
  .img-source{
    width: 100%;
  }
}

.nav-tabs{
  margin-bottom: 2%;
  border-bottom: 0px;
  li{
    a{
      border-radius: 0px;
      color: black;
    }
  }
}

#header-project-list{
  margin-bottom: 0%;
  margin-top: 1%;
}
.header-text{
  color: #F59522;
  margin-bottom: 2%;
  font-family: "Montserrat";
}