{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Promotin.ID | Cari Solusi Branding UMKM Kamu di Sini</title>
{% endblock title %}

{% block header_bottom %}
<div class="header-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6 col-sm-12">
				<h1 id="header-mega">
					Temukan Influencer untuk Promosikan UMKM-mu
				</h1>
				<h4 id="sub-header">
					Kami sebagai platform penghubung antara UMKM dengan influencer untuk memudahkan memasarkan
					produk UMKM di Indonesia
				</h4>
				<form action="" class="search-button">
					<input type="text" placeholder="Cari di sini">
					<button class="fa fa-search"></button>
				</form>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-12">
				<img src="{% static 'images/assets/img.PNG' %}" alt="" id="img-header">
			</div>

		</div>
	</div>
</div>
{% endblock header_bottom %}

{% block section %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2 class="sub-title">Category</h2>
					<div class="panel-group category-products">
						<!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Food</a></h4>
								<h4 class="panel-title"><a href="#">Fashion</a></h4>
								<h4 class="panel-title"><a href="#">Man</a></h4>
								<h4 class="panel-title"><a href="#">Woman</a></h4>

							</div>
						</div>
					</div>
					<!--/category-products-->

					<h2 class="sub-title">Influencer Criteria</h2>
					<div class="panel-group category-products">
						<!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Kids</a></h4>
							</div>
						</div>
					</div>
					<!--/category-products-->
				</div>
			</div>
			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center sub-title">Featured Projects</h2>
					<!--						SINGLE PRODUCT-->
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man1.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>MAKARO</h2>
									<p class="btn border-white">due date: 13 November</p>
									<p>Kami membutuhkan promosi melalui instagram untuk mempromosikan produk kami yaitu
										<a> Raka\123.</a></p>
									<a href="#" class="btn btn-default bid-project black-button">Bid Project</a><br>
									<a href="#" class="alternative-button center-block">more details.</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man1.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>MAKARO</h2>
									<p class="btn border-white">due date: 13 November</p>
									<p>Kami membutuhkan promosi melalui instagram untuk mempromosikan produk kami yaitu
										<a> Raka\123.</a></p>
									<a href="#" class="btn btn-default bid-project black-button">Bid Project</a><br>
									<a href="#" class="alternative-button center-block">more details.</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man1.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>MAKARO</h2>
									<p class="btn border-white">due date: 13 November</p>
									<p>Kami membutuhkan promosi melalui instagram untuk mempromosikan produk kami yaitu
										<a> Raka\123.</a></p>
									<a href="#" class="btn btn-default bid-project black-button">Bid Project</a><br>
									<a href="#" class="alternative-button center-block">more details.</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man1.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>MAKARO</h2>
									<p class="btn border-white">due date: 13 November</p>
									<p>Kami membutuhkan promosi melalui instagram untuk mempromosikan produk kami yaitu
										<a> Raka\123.</a></p>
									<a href="#" class="btn btn-default bid-project black-button">Bid Project</a><br>
									<a href="#" class="alternative-button center-block">more details.</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man1.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>MAKARO</h2>
									<p class="btn border-white">due date: 13 November</p>
									<p>Kami membutuhkan promosi melalui instagram untuk mempromosikan produk kami yaitu
										<a> Raka\123.</a></p>
									<a href="#" class="btn btn-default bid-project black-button">Bid Project</a><br>
									<a href="#" class="alternative-button center-block">more details.</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man1.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>MAKARO</h2>
									<p class="btn border-white">due date: 13 November</p>
									<p>Kami membutuhkan promosi melalui instagram untuk mempromosikan produk kami yaitu
										<a> Raka\123.</a></p>
									<a href="#" class="btn btn-default bid-project black-button">Bid Project</a><br>
									<a href="#" class="alternative-button center-block">more details.</a>
								</div>
							</div>
						</div>
					</div>





				</div>
				<!--features_items-->


				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center sub-title">Featured Influencer</h2>

					<!--						single product-->
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man2.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>@rahmeeeeeet</h2>

									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<p class="project-done">Project Done: 5.000</p>
									<p class="project-done">Followers: 15.000</p>
									<p class="project-done">Following: 40.000</p>
									<p class="project-done">Likes: 400.000</p>
									<a href="#" class="btn btn-default bid-project black-button">Invite to Work</a>
									<a href="#" class="alternative-button pull-left">see profiles</a>
									<a href="#" class="alternative-button pull-right">contact</a>
								</div>
							</div>
						</div>
					</div>


					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man2.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>@rahmeeeeeet</h2>

									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<p class="project-done">Project Done: 5.000</p>
									<p class="project-done">Followers: 15.000</p>
									<p class="project-done">Following: 40.000</p>
									<p class="project-done">Likes: 400.000</p>
									<a href="#" class="btn btn-default bid-project black-button">Invite to Work</a>
									<a href="#" class="alternative-button pull-left">see profiles</a>
									<a href="#" class="alternative-button pull-right">contact</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man2.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>@rahmeeeeeet</h2>

									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<p class="project-done">Project Done: 5.000</p>
									<p class="project-done">Followers: 15.000</p>
									<p class="project-done">Following: 40.000</p>
									<p class="project-done">Likes: 400.000</p>
									<a href="#" class="btn btn-default bid-project black-button">Invite to Work</a>
									<a href="#" class="alternative-button pull-left">see profiles</a>
									<a href="#" class="alternative-button pull-right">contact</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man2.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>@rahmeeeeeet</h2>

									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<p class="project-done">Project Done: 5.000</p>
									<p class="project-done">Followers: 15.000</p>
									<p class="project-done">Following: 40.000</p>
									<p class="project-done">Likes: 400.000</p>
									<a href="#" class="btn btn-default bid-project black-button">Invite to Work</a>
									<a href="#" class="alternative-button pull-left">see profiles</a>
									<a href="#" class="alternative-button pull-right">contact</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man2.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>@rahmeeeeeet</h2>

									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<p class="project-done">Project Done: 5.000</p>
									<p class="project-done">Followers: 15.000</p>
									<p class="project-done">Following: 40.000</p>
									<p class="project-done">Likes: 400.000</p>
									<a href="#" class="btn btn-default bid-project black-button">Invite to Work</a>
									<a href="#" class="alternative-button pull-left">see profiles</a>
									<a href="#" class="alternative-button pull-right">contact</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="img-container">
									<img class="img-source" src="{% static 'images/assets/man2.jpg' %}" alt="" />
								</div>
								<div class="productinfor">
									<h2>@rahmeeeeeet</h2>

									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<p class="project-done">Project Done: 5.000</p>
									<p class="project-done">Followers: 15.000</p>
									<p class="project-done">Following: 40.000</p>
									<p class="project-done">Likes: 400.000</p>
									<a href="#" class="btn btn-default bid-project black-button">Invite to Work</a>
									<a href="#" class="alternative-button pull-left">see profiles</a>
									<a href="#" class="alternative-button pull-right">contact</a>
								</div>
							</div>
						</div>
					</div>


				</div>
				<!--features_items-->

			</div>
		</div>
	</div>
</section>
{% endblock section %}